<?xml version="1.1" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <!-- sample pattern with default style Logback
                %highlight{%d [%t] %-5level: %msg%n%throwable}{STYLE=Logback}
             -->
            <PatternLayout
                    pattern="%d{YYYY-MM-dd HH:mm:ss} [%t] %highlight{%-5p} %highlight{%c{1}}:%highlight{%M} - %msg%n">
            </PatternLayout>
        </Console>

        <RollingFile name="RollingFile" filename="log/project-webservice-rest.log"
                     filepattern="${logPath}/%d{YYYYMMddHHmmss}-old.log">
            <PatternLayout pattern="%d{YYYY-MM-dd HH:mm:ss} [%t] %-5p %c{1}:%M - %msg%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="100 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingFile>

    </Appenders>
    <Loggers>
        <Root level="trace">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="RollingFile"/>
        </Root>
    </Loggers>
</Configuration>